
button:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}


button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    width: 98%;
    padding: 10px;
    margin: 12px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--tertiary-color);
    color: white;
}

button:hover{
    color: rgb(83,83,83);
    border: 1px solid;
}

/*Zorgt ervoor dat als twee buttons naast elkaar staan, er altijd ruimte tussen blijft*/
/*button + button {*/
/*    margin-left: 5px;*/
/*    border-style: none;*/
/*}*/

button:hover {
    cursor: pointer;
}


a,
a:visited,
a:active {
    color: #804d01;
}

a:hover {
    color: #ff8402;
}

