/*........................Footer......................*/

.ContainerFooter {
    display: inline-block;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

.Sect {
    width: 120%;
    text-align: center;
    letter-spacing: .2rem;
    margin: 2.9rem;
}

.Sect p {
    margin: 0;
}

Footer img {
    width: 3rem;
    margin: 0 .3rem 0 .3rem;
}

.Icon {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.Bottom {
    padding: .5rem 0 .5rem 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #f3f1d0;
    height: 2rem;
}

.Bottom {
    color: #804d01;
    margin: 0;

}

@media only screen and (max-width: 1442px) {
    .ContainerFooter {
        width: 77%;
    }
}


p {
    text-transform: none;
    text-align: center;
    font-size: 1rem;
}


@media only screen and (max-width: 1020px) {
    .Container {
        gap: .1rem;
        padding: 0.1rem;
        width:50%;
        margin:auto;
    }

}
