
/*//--> This is awesome way to create this as your basic colors and you can easily reuse everywhere!*/

:root{

    --primary-color: rgb(155, 135, 135);
    --secondary-color: rgb(239, 188, 151);
    --tertiary-color: rgb(250, 200, 108);
    --quaternary-color: rgb(182, 126, 32);
}


/*!*-->..............new shopping cart...........................*!*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{
    list-style:none;
}

a{
    text-decoration: none;
}

.inside-container{
    max-width: 1100px;
    margin:10px 10px 10px 10px;
    padding:20px 20px 20px 20px;
    background-color: var(--primary-color);
}


.links{
    background: var(--tertiary-color);
    transform: translateX(-100%);
    bottom: 0;
    top: 54px;
    width: 100%;
    position: fixed;
    transition: 0.5s ease-in-out;
    font-weight: bold;
}

.newLinks{
    background-color: var(--tertiary-color);
    transform: translateX(0);
    top:54px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.links li a{
    color: var(--tertiary-color);
    display: block;
    padding: 10px;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid;
    text-transform: capitalize;
    position: relative;
}

.links li a:hover{
    padding: 10px 20px;
    color: var(--tertiary-color);
}

.links li a:after{
    content:'';
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed var(--tertiary-color);
    color: white;
    height: auto;
    display: block;
    bottom: 0;
    left: -100%;
    transition: all 0.5s ease-in-out;
}

.links li a:hover:after{
    left:0;
}


.cart{
    color: black;
    align-self: center;
    cursor: pointer;
    position: relative;
}

.cart span {
    position: absolute;
    top: -10px;
    right: -12px;
    padding: 1px;
    border-radius: 50%;
    text-align: center;
    width: 18px;
    height: 22px;
    font-weight: bold;
    z-index: 1;
}


.itemCart{
    position: relative;
}


.cartNav{
    background-color: #ff962e;
    position: fixed;
    top:54px;
    bottom:0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid #9b8787;
}


.newCartNav{
    background-color: #fc8400;
    position: fixed;
    top: 54px;
    bottom: 0;
    right:0;
    width: 100%;
    border-top: 1px solid #9b8787;
}

@media screen and (min-width:664px){
    nav .logo-btn {
        border-bottom: none;
    }
}


.logo-btn .btn{
    display: none;
}



.links{
    display: flex;
    background: transparent;
    transform: translate(0);
    position: relative;
    top: auto;
    bottom: 0;
}


.links li a{
    border-bottom: none;
    margin-left: 15px;
}

.links li a:hover{
    padding: 10px;
}

.links li a:after{
    border-bottom: none;
}

.links li a:hover:after{
    border-bottom: none;
}

.hide{
    display: none;
}

.cartNav{
    background-color: #fc8400;
    position: fixed;
    bottom: 0;
    right: -100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.newCartNav{
    right: 0;
    width: 390px;
}


.dra{
    display: flex;
    align-items: center;
}

.carta{
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    color: var(--quaternary-color);
}



.img-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.cart-center{
    display: flex;
    flex-direction: column;
}






/*//....................light-dark-mode: for the future..............//*/

.btn-light{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 100px;
}





