/*//....................products.....................*/

.products {
    display: inline-block;
    width: 100%;
    column-count: 4;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    justify-content: center;
    justify-items: center;
}

.product {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    height: 17rem;
    box-shadow: 1px 1px 4px 1px var(--secondary-color);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.product:hover {
    box-shadow: 1px 1px 7px 1px var(--tertiary-color);
}

.product img {
    display: block;
    width: 31%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    height: 6rem;
}


.product .details {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.details h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    color: var(--quaternary-color);
    letter-spacing: 0.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    padding-top: 10px;
}

.details p {
    color: var(--quaternary-color);
    font-weight: bold;
    padding-top: 10px;
    font-size: large;
}

.details button {
    width: 100%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.img-div {
    position: relative;
}

.img-div:hover img {
    transform: scale(1.15);
}

@media screen and (min-width: 976px) {

    .products {
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(25% - 20px);
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1442px) {
    .products {
        width: 100%;
        display: inline-block;
    }
}

@media only screen and (max-width: 782px) {
    .products {
        width: 60%;
        left: 12%;
        margin: 0 auto;
        display: grid;
    }
}


.cartBtn {
    width: 95%;
}
